<h1>Edit Info</h1>
<%=form_for @user, method: :put do |f| %>
<p>
  <%=f.label :first_name%><br>
  <%=f.text_field :fname%>
</p>
<p>
  <%=f.label :last_name%><br>
  <%=f.text_field :lname%>
</p>
<p>
  <%=f.label :username%><br>
  <%=f.text_field :username%>
</p>
<p>
<%=f.label :password%><br>
<%=f.text_field :password%><br>
<%=f.submit 'Submit', {:class => "btn btn-secondary"}%>
</p>
<%end%>
