<h1>Sign Up!</h1>
<p>Blog all you want after sign in!</p>
<%=form_for @user, url:{action: "create"} do |f| %>
<p>
  <%=f.label :first_name%><br>
  <%=f.text_field :fname%>
</p>
<p>
  <%=f.label :last_name%><br>
  <%=f.text_field :lname%>
</p>
<p>
  <%=f.label :username%><br>
  <%=f.text_field :username%>
</p>
<p>
<%=f.label :password%><br>
<%=f.text_field :password%><br>
<%=f.submit ({:class => "btn btn-primary"})%>
</p>
<%end%>
