<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-success">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-right" style="font-size: 30px;">

          <nav class-"bg-dark">
            <% if current_user %>
            <button class="bg-white" type="button" name="button"><%= link_to 'Profile', user_path(current_user) %></button>
            <button class="bg-warning" type="button" name="button"><%= link_to 'Users', users_path %></button>
            <button class="bg-info" type="button" name="button"><%= link_to 'Posts', posts_path %></button>
          <button class="bg-success" type="button" name="button"><%=link_to "Make a Post", new_post_path%></button>
          <button class="bg-danger" type="button" name="button"><%= link_to 'Sign Out', logout_path, method: :delete %></button>
            <% else %>
            <button class="bg-light" type="button" name="button"><%= link_to 'Log In', login_path %></button>  
            <% end %>
          </nav>

        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
