<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-success">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-right text-danger">

          <nav class-"bg-primary">
            <% if current_user %>
            <%= link_to 'Profile', user_path(current_user) %>
            <%= link_to 'Users', users_path %>
            <%= link_to 'Posts', posts_path %>
            <%=link_to "Make a Post", new_post_path%>
            <%= link_to 'Sign Out', logout_path, method: :delete %>
            <% else %>
              <%= link_to 'Log In', login_path %>
            <% end %>
          </nav>

        </div>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
